MONGO_USER=admin
MONGO_PW=admin
MONGO_DB=siebtesleben

BACKEND_DB_USER_NAME=admin
BACKEND_DB_USER_PW=admin
BACKEND_DB_HOST=db
BACKEND_DB_PORT=27017
BACKEND_DB_DB=siebtesleben


BACKEND_JWT_REFRESH_SECRET=verysecret
BACKEND_JWT_REFRESH_EXPIRE_TIME=10d
BACKEND_JWT_VERIFY_SECRET=evenmoresecret
BACKEND_JWT_VERIFY_EXPIRE_TIME=1d
BACKEND_JWT_SECRET=secret
BACKEND_JWT_EXPIRE_TIME=1h
BACKEND_JWT_PASSWORD_RESET_SECRET=evensecretersecret
BACKEND_JWT_PASSWORD_RESET_EXPIRE_TIME=4h

BACKEND_FRONTEND_DOMAIN=http://localhost:3000

BACKEND_MAIL_HOST=smpt
BACKEND_MAIL_HOST_PORT=25
# Allows "false", "False", "0"
BACKLEND_MAIL_IS_SECURE=false
BACKEND_MAIL_AUTH_USERNAME=mail
BACKEND_MAIL_AUTH_PW=mail
BACKEND_MAIL_DEFAULT_SENDER=hello@siebtesleben.de


BACKEND_NODE_ENV=development


# Stripe account data provided for developers
BACKEND_STRIPE_SECRET_KEY=sk_...
BACKEND_STRIPE_CURRENCY=eur
# Stripe webhook secret after enabling webhooks in Stripe dashboard
BACKEND_STRIPE_WEBHOOK_SECRET=whsec_...

# Stripe products/items created for customers to buy, each item has a price_id in format price_...
BACKEND_STRIPE_ITEM_SINGLE=
BACKEND_STRIPE_ITEM_FAMILY=
BACKEND_STRIPE_ITEM_SINGLE_TO_FAMILY=

# URL ending without / because backend adds queries
# URLS to where the user will be redirected in the frontend after the checkout process is completed
BACKEND_STRIPE_REDIRECT_URL=/last-will/order-confirmation

