<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta template="account_deleted" />
    <title>Sehr geehrte(r) Kunde/Kundin</title>
  </head>
  <body>
    Ihr Account wurde erfolgreich gelöscht.
  </body>
</html>
