<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta template="password_reset" />
    <title>Sehr geehrte(r) Kunde/Kundin</title>
  </head>
  <body>
    <a href="<%= resetUrl %>"
      >Klicken Sie hier um ein neues Passwort festzulegen</a
    >
  </body>
</html>
