<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta template="password_reset_support" />
    <title>Sehr geehrte(r) Kunde/Kundin</title>
  </head>
  <body>
    Sie haben das Zurücksetzen Ihres Passwortes beantragt. Leider ist Ihre
    Emailadresse nicht verifiziert, weswegen wir Ihnen keinen Link zum Erstellen
    eines neuen Passwortes zukommen lassen können. Bitte wenden Sie sich an den
    Support.
  </body>
</html>
