<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta template="password_reset_support" />
    <title>Hello</title>
  </head>
  <body>
    Seems like you lost your password and want to reset it. However your email
    is not verified. Please contact support for further help.
  </body>
</html>
