<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta template="password_reset" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap">
  <style>
    body {
      font-family: "Plus Jakarta Sans";
      display: flex;
      flex-direction: column;
      justify-content: center
    }

    h1 {
      font-family: "Arbutus Slab";
      margin: 0;
    }

    .title-bar {
      background-color: #FFBF00;
      width: 100%;
      padding: 2em;
      margin-bottom: 1em;
    }

    .main-button-container {
      display: inline-block;
      background-color: black;
      border-radius: 10px;
      padding: 1em 1em;
      width: auto;
      align-self: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .not-a-button {
      text-align: center;
      text-decoration: none;
      color: white;
    }

    .signing-container p {
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="title-bar">
    <h1>Erstellen Sie ein neues Passwort</h1>
  </div>
  <p>Guten Tag, Scheint als hätten Sie ihr Passwort vergessen.</p>
  <div class="main-button-container">
    <a class="not-a-button" href="<%= resetUrl %>">Klicken Sie hier um ein neues Passwort festzulegen</a>
  </div>
  <p>Sollten Sie das Zurücksetzen Ihres Passwortes nicht beantragt haben, so wenden Sie sich umgehend an den Support.
  </p>
  <div class="signing-container">
    <p>Mit freundlichen Grüßen</p>
    <p>Ihr <a style="font-style: italic;">Siebtes Leben</a>-Team</p>
  </div>
</body>

</html>