<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta template="verify" />
    <title>Sehr geehrte(r) Kunde/Kundin</title>
  </head>
  <body>
    <a href="<%= verifyUrl %>">Verifzieren Sie hier Ihre Email</a>
  </body>
</html>
