<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8" />
  <meta template="verify" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap">
  <style>
    body {
      font-family: "Plus Jakarta Sans";
      display: flex;
      flex-direction: column;
      justify-content: center
    }

    h1 {
      font-family: "Arbutus Slab";
      margin: 0;
    }

    .title-bar {
      background-color: #FFBF00;
      width: 100%;
      padding: 2em;
      margin-bottom: 1em;
    }

    .main-button-container {
      display: inline-block;
      background-color: black;
      border-radius: 10px;
      padding: 1em 1em;
      width: auto;
      align-self: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .not-a-button {
      text-align: center;
      text-decoration: none;
      color: white;
    }

    .signing-container p {
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="title-bar">
    <h1>Verifzieren Sie hier Ihre Email</h1>
  </div>
  <p>Guten Tag, Vielen Dank für Ihr Vertrauen!</p>
  <p>Um sicherzugehen, dass die von Ihnen angegebene Email-Addresse richtig ist bitten
    wir Sie diese zu verifizieren.</p>
  <div class="main-button-container">
    <a class="not-a-button" href="<%= verifyUrl %>">Verifzieren Sie hier Ihre Email</a>
  </div>
  <div class="signing-container">
    <p>Mit freundlichen Grüßen</p>
    <p>Ihr <a style="font-style: italic;">Siebtes Leben</a>-Team</p>
  </div>
</body>

</html>